body {
    /* remove browser defaults */
    margin: 0;
    height: 100vh;

    /* add background image */
    background-image: url(.//images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 225px;
}

.result {
    color: antiquewhite;
    font-family: monospace;
    font-size: 14px;
    margin-top: 100px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    color: slategray;
    font-family: monospace;
    font-size: larger;
    display: flex;
    align-items: center;
}
.logo h1 {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.search {
    position: relative;
}

