body {
    /* remove browser defaults */
    margin: 0;
    height: 100vh;

    /* add background image */
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}